<div class="head shadow-high">
    <button class="button authorization-button text" type="button" {{on "click" (fn this.redirect "desktop")}}>Личный кабинет пациента</button>
    <button class="button authorization-button text" type="button" >Дневник питания</button>
    <button class="button authorization-button text" type="button" {{on "click" (fn this.redirect "recipes")}}>Рецепты</button>
    <button class="button authorization-button text" type="button" {{on "click" (fn this.redirect "products")}}>Продукты</button>
    <button class="button authorization-button text" type="button" {{on "click" (fn this.redirect "allergens")}}>Аллергены</button>
</div>
<div class="body">
    {{outlet}}
</div>
