{{#if this.isLoading}}
    <img class="center-container loading" src="/assets/images/loading.gif"/>
{{else}}
    <div class="desktop-widget center-container shadow-high">
         <div class="left-panel-favorite center-content">
            <label class="text">Избранные:</label>
            <input type="checkbox" class="checkbox" {{on "change" this.changeFavoriteFlag}}>
        </div>
        <div class="left-panel-find center-content">
            <label class="text">Поиск:</label>
            <Input @type="text" @value={{this.searchStr}} {{on "input" this.changeSearchStr}}/>
        </div>
        <div class="left-panel shadow-easy">
            {{#each this.products as |product|}}
                <p class="element shadow-easy center-content text" {{on "click" (fn this.changeChosenProduct product)}}>{{product.name}}</p>
            {{/each}}
        </div>
        <div class="modal shadow-easy">
            <div class="title center-content text">{{this.chosenProduct.name}}</div>
            {{#if this.chosenProduct.isFavorite}}
                <button class="favorite is-favorite" type="button" {{on "click" (fn this.makeFavorite this.chosenProduct)}}></button>
            {{else}}
                <button class="favorite" type="button" {{on "click" (fn this.makeFavorite this.chosenProduct)}}></button>
            {{/if}}
            <img class="image" src={{this.productImageUrl}}/>
        </div>
    </div>
{{/if}}