{{#if this.isLoading}}
    <img class="center-container loading" src="/assets/images/loading.gif"/>
{{else}}
    <div class="desktop-widget center-container shadow-high">
        <div class="left-panel-favorite center-content">
            <label class="text">Избранные:</label>
            <input type="checkbox" class="checkbox" {{on "change" this.changeFavoriteFlag}}>
        </div>
        <div class="left-panel-find center-content">
            <label class="text">Поиск:</label>
            <Input @type="text" @value={{this.searchStr}} {{on "input" this.changeSearchStr}}/>
        </div>
        <button class="button generate-recipe-button text" type="button" {{on "click" (fn this.redirect "gen-recipe")}}>Сгенерировать рецепт</button>
        <div class="left-panel trim shadow-easy">
            {{#each this.recipes as |recipe|}}
                <p class="element shadow-easy center-content text" {{on "click" (fn this.changeChosenRecipe recipe)}}>{{recipe.name}}</p>
            {{/each}}
        </div>
        {{#if this.chosenRecipe}}
            <div class="modal shadow-easy">
                <div class="title center-content text">{{this.chosenRecipe.name}}</div>
                {{#if this.chosenRecipe.isFavorite}}
                    <button class="favorite is-favorite" type="button" {{on "click" (fn this.makeFavorite this.chosenRecipe)}}></button>
                {{else}}
                    <button class="favorite" type="button" {{on "click" (fn this.makeFavorite this.chosenRecipe)}}></button>
                {{/if}}
                <div class="description scroll text">{{this.chosenRecipe.description}}</div>
                <img class="image" src={{this.recipeImageUrl}}/>
            </div>
        {{/if}}
    </div>
{{/if}}